.header {
  text-align: center;
  background-color: #18f0c5;
  border-top: 3px dashed #546a7b;
  border-bottom: 3px dashed #546a7b;
}
}

h1 {
  color: white;
  height: 50px;
}

body{
    font-family: Times New Roman;
    font-size: 16px;
    background-color: lightblue;
    float: center;
    border: 8px solid black;
}
